---
import Layout from '@layouts/Layout.astro';
import AboutMe from '@src/components/AboutMe.astro';
import SkillSet from '@src/components/SkillSet.astro';
---

<Layout>
	<main class="pages pl-5 md:pl-10 lg:pl-20">
		<AboutMe />
		<div class="h-32"/>
		<SkillSet />
	</main>
</Layout>
