---
import Layout from '@layouts/Layout.astro';
import Home from '@components/Home.astro';
import About from '@src/components/About.astro';
---

<Layout title="Jorge's website">
	<main class="pages">
		<Home />
		<div class="h-20"/>
		<About />
	</main>
</Layout>
