---
import Layout from '@layouts/Layout.astro';
import Home from '@components/Home.astro';
import About from '@src/components/About.astro';
---

<Layout title="Jorge's website">
	<main class="lg:ml-10 lg:mr-10 xl:ml-20 xl:mr-20 2xl:ml-80 2xl:mr-80 pl-8 pr-8">
		<Home />
		<About />
	</main>
</Layout>

<style>
	
</style>
