---
import Layout from '@layouts/Layout.astro';
import Home from '@components/Home.astro';
import LanguagePicker from '@src/components/LanguagePicker.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Home />
		<LanguagePicker />
	</main>
</Layout>

<style>
	
</style>
