---
import { getLangFromUrl, useTranslations } from "@src/i18n/utils";
import { getCollection } from "astro:content";

const about = await getCollection("about");
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

let page = about.find(p => p.slug.startsWith(lang));

const { Content }: any = await page?.render();
---

<div class="flex flex-col md:flex-row lg:ml-20 md:ml-10 ml-5">
    <div class="prose md:prose-lg
     prose-a:text-custom-blue 
     prose-a:link 
     prose-a:link-hover 
     prose-p:font-medium
     prose-h2:text-4xl
     dark:prose-invert">
        <Content />
    </div>
    <div class="avatar md:flex-grow items-center justify-center md:ml-10 ml-5 mt-10">
        <div class="w-40 lg:w-80 md:w-60 rounded-xl">
            <img id="avatar" alt="Me" src=`${t('about.img')}`/>
        </div>
    </div>
</div>
