---
import SocialMediaLinks from "./SocialMediaLinks.astro";

---
<div class="mb-20"></div>

<footer class="footer items-center p-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.1),0_4px_6px_-2px_rgba(0,0,0,0.05)]">
    <aside class="items-center grid-flow-col">
      <p>Copyright © 2024 - Jorge Núñez Santiago</p>
    </aside> 
    <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
        <SocialMediaLinks />
    </nav>
</footer>

<style>
    html.light .footer {
        @apply text-black;
    }
    .footer {
        @apply lg:pl-10 lg:pr-10 xl:pl-20 xl:pr-20 2xl:pl-80 2xl:pr-80;
    }

</style>