---
import SocialMediaLinks from "./SocialMediaLinks.astro";
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div
    class="flex flex-wrap lg:flex-row justify-center items-center"
>
    <div class="avatar flex flex-col">
        <div class="w-40 lg:w-80 md:w-60 rounded-full">
            <img id="avatar" alt="Me" src={t('home.img').toString()} />
        </div>
    </div>
    <div
        class="flex flex-col text-center xl:pl-20 lg:pl-10 md:pl-10 md:pt-4 lg:mt-0"
    >
        <h1
            id="name"
            class="lg:text-5xl md:text-4xl text-2xl lg:mb-5 font-bold text-custom-blue"
        >
            {t('home.name')}
        </h1>
        <h2 id="job" class="lg:text-xl lg:mb-2 titles">
            {t('home.title')}, {t('home.company')}
        </h2>
        <p class="h-6"></p>
        <SocialMediaLinks />
    </div>
</div>
