---
import SocialMediaLinks from "./SocialMediaLinks.astro";
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import TypeWriter from "./TypeWriter.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div
    class="flex flex-wrap md:flex-row justify-center items-center gap-8 lg:ml-20 lg:mr-20"
>
    <div class="avatar flex flex-col">
        <div class="w-40 lg:w-80 md:w-60 rounded-full">
            <img id="avatar" alt="Me" src={t('home.img').toString()} />
        </div>
    </div>
    <div
        class="flex flex-col text-center xl:pl-20 mt-4 lg:mt-0 "
    >
        <h1
            id="name"
            class="lg:text-5xl md:text-4xl text-2xl lg:mb-5 font-bold text-custom-blue"
        >
            {t('home.name')}
        </h1>
        <h2 id="job" class="lg:text-xl lg:mb-2">
            <TypeWriter />
        </h2>
        <p class="h-6"></p>
        <SocialMediaLinks />
    </div>
</div>
