---
import { languages } from '../i18n/ui';
import { getLangFromUrl } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
---

<select id="language-select" class="select select-bordered max-w-xs w-32">
  <option disabled>Choose language</option>
  {Object.entries(languages).map(([langCode, label]) => (
    <option value={langCode} selected={langCode === lang}>{label}</option>
  ))}
</select>

<script>
  import { useTranslatedPath } from '../i18n/utils';

  const selectElements = document.querySelectorAll('#language-select');

  selectElements.forEach((selectElement) => {
    selectElement.addEventListener('change', (event) => {
      const selectedLanguage = (event.target as HTMLSelectElement).value;
      let currentPath = window.location.pathname;

      if (selectedLanguage !== 'es' && currentPath.startsWith('/es')) {
        currentPath = currentPath.substring(3);
      }
      if (currentPath === '') {
        currentPath = '/';
      }

      const translatePath = useTranslatedPath(selectedLanguage as "en" | "es");
      window.location.href = translatePath(currentPath, selectedLanguage);
    });
  });
</script>

<style>
  html.dark #language-select {
    background-color: #282a36;
  }
  html.light #language-select {
    background-color: white;
  }
</style>