---
import LanguagePicker from '@src/components/LanguagePicker.astro';
import ToggleTheme from './ToggleTheme.astro';
---

<div class="navbar mb-20 lg:pl-20 lg:pr-20 2xl:pr-80 2xl:pl-80 fixed z-50 bg-opacity-95">
    <div class="navbar-start flex justify-between">
      <a href="#" class="btn btn-ghost text-xl">JNS Website</a>
    </div>
    <div class="navbar-center hidden md:flex">
      <ul class="menu menu-horizontal px-1">
        <li><a>Item 1</a></li>
        <li>
          <details>
            <summary>Parent</summary>
            <ul class="p-2">
              <li><a>Submenu 1</a></li>
              <li><a>Submenu 2</a></li>
            </ul>
          </details>
        </li>
        <li><a>Item 3</a></li>
      </ul>
    </div>
    <div class="navbar-end hidden md:flex">
      <div class="mr-4">
        <ToggleTheme />
      </div>
      <LanguagePicker />
    </div>
    <div class="navbar-end md:hidden">
      <div class="dropdown">
        <div tabindex={0} role="button" class="btn btn-ghost md:hidden" onclick="toggleDropdown()">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
        </div>
        <ul tabindex={0} class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow-lg bg-base-100 rounded-box w-52 right-0 hidden">
          <li><a>Item 1</a></li>
          <li><a>Parent</a></li>
          <li><a>Item 3</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="h-36"></div>

<script is:inline>
  function toggleDropdown() {
    const dropdown = document.querySelector('.dropdown-content');
    dropdown.classList.toggle('hidden');
  }

  function updateNavbarColor() {
    const navbar = document.querySelector('.navbar');
    const theme = localStorage.getItem('theme');
    let color = theme === 'light' ? "bg-gray-300" : "bg-gray-800";

    // Remove all possible color classes
    navbar.classList.remove("bg-gray-300", "bg-gray-800");

    if (window.scrollY > 0) {
      navbar.classList.add(color);
    } else {
      navbar.classList.remove(color);
    }
  }

  window.addEventListener('scroll', updateNavbarColor);

 const toggle = document.getElementById('themeToggle');
 toggle.addEventListener('change', () => {
  updateNavbarColor();
 });

</script>