---
import Layout from '@layouts/Layout.astro';
import AboutMe from '@src/components/AboutMe.astro';
import SkillSet from '@src/components/SkillSet.astro';
---

<Layout title="JNS website">
	<main class="pages">
		<AboutMe />
		<div class="h-20"/>
		<SkillSet />
	</main>
</Layout>
