---
import Layout from '@layouts/Layout.astro';
import Home from '@components/Home.astro';
import About from '@src/components/About.astro';
---

<Layout title="Web de Jorge">
	<main class="lg:ml-10 lg:mr-10 xl:ml-20 xl:mr-20 2xl:ml-80 2xl:mr-80 pl-8 pr-8">
		<Home />
		<About type="education" items={['teis', 'leliadoura', 'uva']}/>
	</main>
</Layout>
