---
import Layout from '@layouts/Layout.astro';
import Home from '@components/Home.astro';
---

<Layout title="JNS website">
	<main class="flex flex-grow justify-center items-center">
		<Home />
	</main>
</Layout>
