---
import Layout from '@layouts/Layout.astro';

import CardLister from '@src/components/CardLister.astro';
---

<Layout title="JNS website">
	<main class="pages">
		<CardLister type="project" items={['pydepcheck', 'personalweb']}/>
	</main>
</Layout>
