---
import Layout from '@layouts/Layout.astro';
import ResumeViewer from '@src/components/ResumeViewer.astro';
---

<Layout title="Jorge's website">
	<main class="pages">
		<ResumeViewer />
	</main>
</Layout>
