---
import Layout from '@layouts/Layout.astro';
import TimelineVitae from '@src/components/TimelineVitae.astro';
---

<Layout title="Jorge's website">
	<main class="pages">
		<TimelineVitae type="experience" items={['antexia', 'gradiant', 'coremain']} class="mb-10"/>
		<div class="h-20"/>
		<TimelineVitae type="education" items={['teis', 'leliadoura', 'uva']}/>
	</main>
</Layout>
